
/*CSS for client information form.*/

input[type=text],
input[type=email],
textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
textarea {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
  legend {
    text-align: right;
  }
}

/*Date picker metabox*/

#datepicker {
    width: 100%;
}

#ui-datepicker-div {
  background-color: white;
  padding: 5px;
}

/*Paper view for invoice*/
body{
  background-color: #F1F1F1;
}
.paper {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  .table {
    margin-bottom: 0px !important;
  }
  .no_margins {
    margin: 0px;
  }
}
