/* Print Style Sheet */

body { 
    background-color:white !important; 
    color:black !important; 
    margin:0 !important; 
    -webkit-print-color-adjust: exact !important;
}

/*@page{ 
    size:auto; 
    margin:5mm; 
}*/

#do_not_show {
    display: none;
}

.paper {
    /*width: 550px;*/
}

table {
	table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    word-break:break-all;
/*    width: 100% !important; 
    word-wrap:break-word !important;
    table-layout: fixed !important;*/
}

.table-margin th, .table-margin td {
    /*width: 100%;*/
    padding: 5px;
    text-align: left;
}

.number {
	color: rgb(127,0,0) !important;
}

.three {
    width: 33.3%;
    /*width: 20px;*/
}

.two {
    width: 50%;
}

.big {
    width: 58.2%; 
}

.centrate {
    text-align: center;
}