/* Print Style Sheet */

body { 
    background-color:white !important; 
    color:black !important; 
    margin:0 !important; 
    -webkit-print-color-adjust: exact !important;
}

/*@page{ 
    size:auto; 
    margin:5mm; 
}*/

#do_not_show {
    display: none;
}

table {
	table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.table-margin th, .table-margin td {
    padding: 5px;
    text-align: left;
}

.number {
	color: rgb(127,0,0) !important;
}

.three {
    width: 32%;
}

.two {
    width: 50%;
}

.centrate {
    text-align: center;
}