/* Print Style Sheet */

body { 
     background-color:white !important; 
     color:black !important; 
     margin:0 !important; 
}

@page{ 
     size:auto; 
     margin:5mm; 
}

#kdwp_print_page {
     display: none;
}